<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--
    Authentication Settings
    https://github.com/ffilardi/AxaptaAPI/wiki/2-Setup
    
      Mode 1: Multi-User (Active Directory)
      Mode 2: Single-User (Active Directory)
      Mode 3: Third-Party Provider - Impersonates but takes the authenticate type and name 
      Mode 4: Impersonate - uses the API_AUTH_USER_DOMAIN and the username from the email to resolve a string like domain\username
                          - this is used usually when you are syncing your onpremise AD to Azure AD
    -->
    <add key="API_AUTH_MODE" value="2" />
    <add key="API_AUTH_USER_DOMAIN" value="PAX" />
    <add key="API_AUTH_USER_NAME" value="zl.teng" />
    <add key="API_AUTH_USER_PASSWORD" value="Paxple123" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_UserSessionService" />
        <binding name="NetTcpBinding_PAX_APITestService" />
        <binding name="QueryServiceEndpoint" transferMode="Streamed" />
        <binding name="MetadataServiceEndpoint" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://pax-ax6-141:8201/DynamicsAx/Services/PAX_APITestServiceGroup" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PAX_APITestService" contract="PAX_APITestServiceGroup.PAX_APITestService" name="NetTcpBinding_PAX_APITestService">
        <identity>
          <userPrincipalName value="axservice@PAX.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://pax-ax6-141:8201/DynamicsAx/Services/UserSessionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_UserSessionService" contract="UserSessionService.UserSessionService" name="NetTcpBinding_UserSessionService">
        <identity>
          <userPrincipalName value="axservice@PAX.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://pax-ax6-141:8201/DynamicsAx/Services/QueryService" binding="netTcpBinding" bindingConfiguration="QueryServiceEndpoint" contract="QueryService.IQueryService" name="QueryServiceEndpoint">
        <identity>
          <userPrincipalName value="axservice@PAX.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://pax-ax6-141:8201/DynamicsAx/Services/MetadataService" binding="netTcpBinding" bindingConfiguration="MetadataServiceEndpoint" contract="MetadataService.IAxMetadataService" name="MetadataServiceEndpoint">
        <identity>
          <userPrincipalName value="axservice@PAX.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>